---
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content={Astro.generator} />
        <title>Danxome » About</title>
    </head>
    <body>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/blog">Blog</a>
        </nav>

        <h1>Danxome Orisa Worships Website</h1>
        <h1>About us</h1>
        <h2>... and our website</h2>

        <p>
            Anowdays, Daxome Kingdom, currently republic of Benin, is the most
            Orisa Worshipers. This worship is called <em
                >Vodun Yehwe Ahouanjo</em
            >.
        </p>
        <p>
            Orunmila has a major place in this system and Olodumare known as <em
                >Mawu Segbo Lisa</em
            > is the Supreme Being and Almighty God.
        </p>
    </body>
</html>
